<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mgljava.mybatis.dao.UserMapper">
    <select id="findAll" resultType="com.github.mgljava.mybatis.entity.User">
        SELECT * FROM user;
    </select>

    <select id="findUserById" resultType="com.github.mgljava.mybatis.entity.User" parameterType="long">
        SELECT * FROM user WHERE ID = #{id}
    </select>

    <insert id="insertUser" parameterType="com.github.mgljava.mybatis.entity.User">
        insert into
            user (username, address)
            values (#{username}, #{address})
    </insert>

    <update id="updateUser" parameterType="com.github.mgljava.mybatis.entity.User">
        update user
        set
        <if test="username!=null">username=#{username},</if>
        <if test="address!=null">address=#{address}</if>
        where id = #{id}
    </update>
</mapper>